<div class="hero">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered has-text-centered">
                <div class="column is-full">
                    <div class="columns">
                        <div class="column is-one-quarter">
                            <div class="box has-text-left">

                                    <div class="control">
                                        <label class="radio">
                                            <input type="radio" name="foobar" (click)="adjustSearch(0)">
                                            <b>  All Items</b>
                                        </label>
                                        <br>
                                        <label class="radio">
                                            <input type="radio" name="foobar" (click)="adjustSearch(1)">
                                            <b>  Hardware</b>
                                        </label>
                                        <br>
                                        <label class="radio">
                                            <input type="radio" name="foobar" (click)="adjustSearch(2)">
                                            <b>  Gaming</b>
                                        </label>
                                        <br>
                                        <label class="radio">
                                            <input type="radio" name="foobar" (click)="adjustSearch(3)">
                                            <b>  PC & Tablet</b>
                                        </label>
                                        <br>    
                                        <label class="radio">
                                            <input type="radio" name="foobar" (click)="adjustSearch(4)">
                                            <b>  TV & HIFI</b>
                                        </label>   
                                        <br>    
                                        <label class="radio">
                                            <input type="radio" name="foobar" (click)="adjustSearch(5)">
                                            <b>  Mobile</b>
                                        </label>  
                                    </div>

                                </div>
                            <div class="box">
                                <h2><b>Price: </b></h2>
                                <br/>
                                <ng5-slider [(value)]="minPrice" [(highValue)]="maxPrice" [options]="options"></ng5-slider>
                            </div>
                        </div>

                        <div class="column">
                            <div class="columns is-multiline is-mobile">
                                <div class="column is-one-third"  *ngFor="let item of SelectedItems">
                                    <div *ngIf="item.ItemPrice < maxPrice && item.ItemPrice > minPrice">
                                    <a routerLink="/item/{{item.ItemId}}">
                                    <div class="box">
                                        <figure class="image is-1by1">
                                            <img src="../../assets/Pics/ItemPics/{{item.ItemName}}.jpg">
                                        </figure>
                                            <p class="title is-4"><u><a routerLink="/Item/{{item.ItemName}}"></a></u></p>
                                            <p class="subtitle is-6"><b>Product Name :</b> {{item.ItemName}} </p>
                                            <p class="subtitle is-6"><b>Product price :</b> {{item.ItemPrice}} </p>
                                    </div>
                                    </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>