<div class="hero">
    <div class="hero-body">


        <div class="container">

            <div class="columns is-centered has-text-centered">
                <div class="column is-full">
                    <div class="columns">

                        <div class="column is-one-third">
                            <div class="box">
                                <div *ngFor="let cat of Categories">
                                    <div class="control">
                                        <label class="radio">
                                            <input type="radio" name="rsvp">
                                            {{cat.CategoryName}}
                                        </label>     
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="column is-two-third">
                            <div class="columns is-multiline">
                                <div class="column" *ngFor="let item of Items">
                                    <div class="box">
                                        <figure class="image is-1by1">
                                            <a routerLink="/Item/{{item.ItemId}}"><img src="../../assets/Pics/ItemPics/{{item.ItemName}}.jpg"></a>
                                        </figure>
                                            <p class="title is-4"><u><a routerLink="/Item/{{item.ItemName}}"></a></u></p>
                                            <p class="subtitle is-6"><b>Product Name :</b> {{item.ItemName}} </p>
                                            <p class="subtitle is-6"><b>Product price :</b> {{item.ItemPrice}} </p>
                                        </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>


    </div>
</div>