<section class="hero">
    <div class="hero-body">
        <div class="container has-text-centered">
            SubCategory administration!
        </div>
    </div>
</section>

<section class="section">
    <div class="container">

        <form (ngSubmit)="saveSub()" #RegisterItemFrom="ngForm">

            <div class="Field">
                <div class="control">
                    <input class="input is-link is-rounded" type="text"
                        placeholder="SubCategory Name" [(ngModel)]="Sub.SubName" required>  
                </div>
            </div>
            
            <p class="mt-4">
            </p>

            <div class="Field">
                <div class="control">
                    <input class="input is-link is-rounded" type="text"
                        placeholder="Category Id" [(ngModel)]="Sub.CategoryId" required>  
                </div>
            </div>
            
            <p class="mt-4">
            </p>

            <button class="button is-link is-rounded is-fullwidth" (click)="saveSub()">Save SubCategory</button>

            <p class="mt-2">
            </p>

            <button class="button is-link is-rounded is-fullwidth" (click)="cancel()">Cancel</button>

        </form>

        <p class="mt-6">
        </p>
        <p class="mt-6">
        </p>
        <p class="pt-6">
        </p>
        <p class="pt-6">
        </p>

        <section class="hero is-centered is-bold">
            <div class="table-container">
                <table class="table is-striped is-hoverable is-fullwidth">
                    <div *ngFor="let sub of Subs">
                    <thead>
                        <tr>
                            <th><abbr title="SubCategory Name">SubCategory Name</abbr></th>
                            <th><abbr title="Category Id">Category Id</abbr></th>
                            <th><abbr title="Category Name">Category Name</abbr></th>
                            <th><abbr title="Edit"></abbr></th>
                            <th><abbr title="Delete"></abbr></th>
                        </tr>
                    </thead>    
                    <tbody>
                            <tr>
                                <td>{{sub.SubName}}</td>
                                <td>{{sub.CategoryId}}</td>
                                <td> category name</td>
                                <td><button class="button is-link is-rounded" (click)="editSub(sub)">Edit subcategory</button></td>
                                <td><button class="button is-link is-rounded" (click)="deleteSub(sub)">Delete subcategory</button></td>
                            </tr>
                        </tbody>
                    </div>
                </table>
            </div>
        </section>

        <p class="mt-6">
        </p>
        
        <p class="mt-6">
        </p>

    </div>
</section>