<p class="mt-6"></p>
<p class="pt-6"></p>


<section class="section">
  <div class="container">
    <div class="buttons is-right">
      <button class="button is-link is-rounded" (click)="deleteEntireCart()">Empty Cart</button>
    </div>

    <p class="mt-6"></p>
    <p class="mt-6"></p>
    <p class="pt-6"></p>
    <p class="pt-6"></p>

    <section class="hero is-centered is-bold">
      <div class="table-container">
        <table class="table is-striped is-hoverable is-fullwidth">
          <div *ngFor="let item of cartItems">
            <thead>
              <tr>
                <th><abbr title="Item">Product</abbr></th>
                <th><abbr title="Item Amount">Amount in Cart</abbr></th>
                <th><abbr title="Item Price">Product Price</abbr></th>
                <th><abbr title="Total">Total</abbr></th>
                <th><abbr title="Remove">Remove</abbr></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><img src="../../assets/Pics/ItemPics/{{item.ItemName}}.jpg"><b>{{item.ItemName}}</b></td>
                <td><b>{{item.AmountInCart}}</b></td>
                <td><b>{{item.ItemPrice}},-</b></td>
                <td><b>{{item.AmountInCart * item.ItemPrice}},-</b></td>
                <td><button class="button is-link is-rounded" (click)="removeFromCart(item.ItemId)">Remove Item / Items</button>
                </td>
              </tr>
            </tbody>
            <p class="mt-6"></p>
          </div>
        </table>
      </div>
    </section>


    <div class="PriceCheck has-text-right">
      <p>Cart total price: 2000 </p>
    </div>

    <p class="mt-6"></p>
    <p class="mt-6"></p>
    <p class="pt-6"></p>
    <p class="pt-6"></p>

    <div class="buttons is-right">

      <button class="button is-link is-rounded" (click)="deleteEntireCart()">Go to payment</button>
    </div>
  </div>
</section>



<p class="mt-6"></p>
<p class="mt-6"></p>
<p class="pt-6"></p>
<p class="pt-6"></p>