<section class="hero is-primary is-bold">
    <div class="hero-body">
        <div class="container has-text-centered">
            Login / Register
        </div>
    </div>
</section>

<section class="section">
    <div class="container">

        <div class="tabs is-centered is-medium is-boxed is-rounded is-fullwidth">
            <ul>
                <li><a routerLink="/authentication/login">Login</a></li>
                <li class="is-active"><a routerLink="/authentication/register">Register</a></li>
            </ul>
        </div>

    </div>
</section>