<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      Min Side. Logget ind som: {{ currentUser.FirstName }} 
      {{ currentUser.MiddleName }} {{ currentUser.LastName }}
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="field-body">
      <div class="column is-half">
        <label class="label">Email</label>
        <p class="control is-expanded has-icons-left has-icons-right">
          <input
            class="input is-link is-rounded"
            type="email"
            name="Email"
            [(ngModel)]="currentUser.Email"
            required
          />
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
          <span class="icon is-small is-right">
            <i class="fas fa-check"></i>
          </span>
        </p>
      </div>

      <div class="column is-half">
        <label class="label">Password</label>
        <p class="control is-expanded has-icons-left">
          <input
            class="input is-link is-rounded"
            type="password"
            name="Password"
            [(ngModel)]="currentUser.Password"
            required
          />
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </p>
      </div>
    </div>

    <div class="field-body">
      <div class="column is-one-third">
        <label class="label">Phone Number</label>
        <div class="field has-addons">
          <p class="control">
            <a class="button is-static is-link is-rounded"> +45 </a>
          </p>
          <p class="control is-expanded has-icons-right">
            <input
              class="input is-link is-rounded"
              type="phone"
              name="Phone"
              [(ngModel)]="currentUser.Phone"
              required
            />
            <span class="icon is-small is-right">
              <i class="fas fa-phone"></i>
            </span>
          </p>
        </div>
      </div>

      <div class="column is-one-third">
        <label class="label">Address</label>
        <p class="control is-expanded has-icons-left">
          <input
            class="input is-link is-rounded"
            type="address"
            name="Address"
            [(ngModel)]="currentUser.Address"
            required
          />
          <span class="icon is-small is-left">
            <i class="fas fa-home"></i>
          </span>
        </p>
      </div>

      <div class="column is-one-third">
        <label class="label">Postal Code</label>
        <p class="control is-expanded has-icons-left">
          <input
            class="input is-link is-rounded"
            type="address"
            name="PostalCode"
            [(ngModel)]="currentUser.PostalCode"
            required
          />
          <span class="icon is-small is-left">
            <i class="fas fa-home"></i>
          </span>
        </p>
      </div>
    </div>

    <div class="buttons is-centered">
      <button class="button is-link is-rounded" type="button" (click)="UpdateUser()">Save</button>
      <button class="button is-link is-rounded" type="button" (click)="cancel()">Cancel</button>
      <p class="mt-2"></p>
    </div>
  </div>
</section>

<p class="mt-3"></p>
<hr class="divider" />
<p class="mt-3"></p>

<section class="section">
  <div class="container">
    <nav class="pagination" role="navigation" aria-label="pagination">
      <a class="pagination-previous" title="This is the first page" disabled
        >Previous</a
      >
      <a class="pagination-next">Next page</a>
      <ul class="pagination-list">
        <li>
          <a
            class="pagination-link is-current"
            aria-label="Page 1"
            aria-current="page"
            >1</a
          >
        </li>
        <li>
          <a class="pagination-link" aria-label="Goto page 2">2</a>
        </li>
        <li>
          <a class="pagination-link" aria-label="Goto page 3">3</a>
        </li>
      </ul>
    </nav>
    <table class="table is-striped is-hoverable is-fullwidth is-bordered">
      <thead>
        <tr>
          <th><abbr title="Status / Date">Status</abbr></th>
          <th><abbr title="OrderId">OrderId</abbr></th>
          <th><abbr title="Item">Product</abbr></th>
          <th><abbr title="Price">Price</abbr></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Shipped</td>
          <th>Order.OrderId</th>
          <th>Item.ItemId</th>
          <th>OrderItems.CurrentPrice</th>
        </tr>
        <tr>
          <td>Shipped</td>
          <th>OrderId</th>
          <th>ItemId</th>
          <th>CurrentPrice</th>
        </tr>
      </tbody>
    </table>
  </div>
</section>
