<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      Min Side. Logget ind som: {{ User.FirstName }} {{ User.LastName }}
      {{ User.Email }} {{ User.UserId }}
    </div>
  </div>
</section>

<section class="section">
  <div class="container" *ngIf="currentUser != null && currentUser.Role =='Customer'">
      <div class="field-body">
        <div class="column is-one-third">
          <p class="control is-expanded has-icons-left">
            <input
              class="input is-link is-rounded"
              type="text"
              placeholder="Name"
            />
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
          </p>
        </div>

        <div class="column is-one-third">
          <p class="control is-expanded has-icons-left has-icons-right">
            <input
              class="input is-link is-rounded"
              type="email"
              placeholder="Email"
            />
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
            <span class="icon is-small is-right">
              <i class="fas fa-check"></i>
            </span>
          </p>
        </div>

        <div class="column is-one-third">
          <div class="field has-addons">
            <p class="control">
              <a class="button is-static is-link is-rounded"> +45 </a>
            </p>
            <p class="control is-expanded has-icons-right">
              <input
                class="input is-link is-rounded"
                type="phone"
                placeholder="Phone number"
              />
              <span class="icon is-small is-right">
                <i class="fas fa-phone"></i>
              </span>
            </p>
          </div>
        </div>
      </div>

      <div class="field-body">
        <div class="column is-one-third">
          <p class="control is-expanded has-icons-left">
            <input
              class="input is-link is-rounded"
              type="password"
              placeholder="Password"
            />
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </p>
          <p class="mt-2"></p>
          <button class="button is-link is-rounded" type="button">
            Change Password
          </button>
        </div>
        <div class="column is-one-third">
          <p class="control is-expanded has-icons-left">
            <input
              class="input is-link is-rounded"
              type="address"
              placeholder="Address"
            />
            <span class="icon is-small is-left">
              <i class="fas fa-home"></i>
            </span>
          </p>
        </div>
        <div class="column is-one-third">
          <p class="control is-expanded has-icons-left">
            <input
              class="input is-link is-rounded"
              type="address"
              placeholder="Postal Code"
            />
            <span class="icon is-small is-left">
              <i class="fas fa-home"></i>
            </span>
          </p>
        </div>
    </div>
    <div class="buttons is-centered">
      <button class="button is-link is-rounded" type="button">Save</button>
      <button class="button is-link is-rounded" type="button">Cancel</button>
      <p class="mt-2"></p>
      <button class="button is-danger is-rounded" (click)="LogOut()">Logout</button>
    </div>
  </div>
</section>

<p class="mt-3"></p>
<hr class="divider">
<p class="mt-3"></p>


<section class="section">
  
  <div class="container">
    <nav class="pagination" role="navigation" aria-label="pagination">
      <a class="pagination-previous" title="This is the first page" disabled>Previous</a>
      <a class="pagination-next">Next page</a>
      <ul class="pagination-list">
        <li>
          <a class="pagination-link is-current" aria-label="Page 1" aria-current="page">1</a>
        </li>
        <li>
          <a class="pagination-link" aria-label="Goto page 2">2</a>
        </li>
        <li>
          <a class="pagination-link" aria-label="Goto page 3">3</a>
        </li>
      </ul>
    </nav>
    <table class="table is-striped is-hoverable is-fullwidth is-bordered">
      <thead>
        <tr>
          <th><abbr title="Status / Date">Status</abbr></th>
          <th><abbr title="OrderId">OrderId</abbr></th>
          <th><abbr title="Item">Product</abbr></th>
          <th><abbr title="Price">Price</abbr></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Shipped</td>
          <th>Order.OrderId</th>
          <th>Item.ItemId</th>
          <th>OrderItems.CurrentPrice</th>
        </tr>
        <tr>
          <td>Shipped</td>
          <th>OrderId</th>
          <th>ItemId</th>
          <th>CurrentPrice</th>
        </tr>
      </tbody>
    </table>
  </div>
</section>
