<footer class="footer">
    <div class="columns is-centered is-vcentered">

        <div class="column is-narrow has-text-centered is-one-third">
            <p is-centered> 
                <b> Email : <a href="mailto:Alexmaibom@gmail.com">Alexmaibom@gmail.com</a></b> 
                <br>
                <b> Telefon nr : 61306349</b> 
                <br>
                <br>
            </p>
            <p is-centered>
                <p class="pt-6">
                <p class="pt-6">
                <b><a href="https://Salgsbetingelser.dk"> Salgsbetingelser </a></b>
            </p>
        </div>

        <div class="column is-narrow has-text-centered is-one-third">
            <p class="mr-2">    
            <figure class="image container is-128x128 is-inline-block">
                    <img src="../../../assets/Pics/WebsitePics/Friendly-Fire_ColoredBlack.png">
                </figure>
            <p class="title is-5">
                FriendlyFire levere det bedste udstyr
                <br>
                 til at skyde dine buddies i baghovedet!
            </p>
        </div>

        <div class="column is-narrow has-text-centered is-one-third">
            <p>
                <b> Afsendelses tidspunkter :  </b>
                <br>
                <br>
                Søndag - Torsdag : Bestil inden 14, og få afsendt samme dag
                <br>
                Fredag - Lørdag : Bestil inden 12, og få afsendt samme dag
            </p>
        </div>
    </div>
</footer>

