<footer class="footer">
    <div class="columns is-centered is-vcentered">

        <div class="column is-narrow has-text-centered is-one-third">
            <p is-centered> 
                <b> Email : <a href="mailto:Alexmaibom@gmail.com">Alexmaibom@gmail.com</a></b> 
                <br>
                <b> Email : <a href="mailto:Xcaleragaming@gmail.com">XcaleraGaming@gmail.com</a></b> 
                <br>
                <b> Phone nr : 61306349</b>
                <br>
                <b> Phone nr : 20284293</b>  
                <br>
                <br>
            </p>
            <p is-centered>
                <p class="pt-6">
                <p class="pt-6">
                <b><a href="https://en.wikipedia.org/wiki/Terms_of_service#:~:text=Terms%20of%20service%20(also%20known,to%20use%20the%20offered%20service."> Terms of Service </a></b>
            </p>
        </div>

        <div class="column is-narrow has-text-centered is-one-third">
            <p class="mr-2">    
            <figure class="image container is-128x128 is-inline-block">
                    <img src="../../../assets/Pics/WebsitePics/Friendly-Fire_ColoredBlack.png">
                </figure>
            <p class="title is-5">
                FriendlyFire supplies you with the best equipment
                <br>
                to own your buddies, with a bullet to the head! 
            </p>
        </div>

        <div class="column is-narrow has-text-centered is-one-third">
            <p>
                <b> Mailing hours:  </b>
                <br>
                <br>
                Sunday - Thursday : Order before 2pm, and have it mailed the same day
                <br>
                Friday - Saturday : Order before 12am, and have it mailed the same day
            </p>
        </div>
    </div>
</footer>

