<section class="hero">
    <div class="hero-body">
        <div class="container has-text-centered">
            Orders administration!
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        
        <p class="mt-4">
        </p>

        <div class="Field">
            <label class="label">UserId</label>
            <div class="control">
                <input class="input is-link is-rounded" 
                       type="number" 
                       [(ngModel)]="Order.UserId" 
                       required>  
            </div>
        </div>

        <p class="mt-6">
        </p>
        <p class="mt-6">
        </p>
        <p class="pt-6">
        </p>
        <p class="pt-6">
        </p>

        <section class="hero is-centered is-bold">
            <div class="table-container">
                <table class="table is-striped is-hoverable is-fullwidth">
                    <div *ngFor="let order of Orders">
                    <thead>
                        <tr>
                            <th><abbr title="OrderId">OrderId</abbr></th>
                            <th><abbr title="UserId">UserId for Customer</abbr></th>
                            <th><abbr title="OrderStatus">Order Status</abbr></th>
                            <th><abbr title="Edit"></abbr></th>
                        </tr>
                    </thead>    
                    <tbody>
                            <tr>
                                <td>{{order.OrderId}}</td>
                                <td>{{order.UserId}}</td>
                                <td>{{order.OrderStatus}}</td>
                                <td><button class="button is-link is-rounded" (click)="editOrder(order)">Edit Order</button></td>
                            </tr>
                        </tbody>
                    </div>
                </table>
            </div>
        </section>

    </div>
</section>