<div class="hero">
    <div class="hero-body">

        <p class="pt-6"></p>
        <p class="pt-6"></p>
        <p class="pt-6"></p>
        <p class="pt-6"></p>
        <p class="pt-6"></p>
        <p class="pt-6"></p>

        <div class="container">
            <div class="columns">
                <div class="column">
                    <a button class="button is-link is-large is-fullwidth" routerLink="/admin/user/">User administration</a>
                </div>
                <div class="column">
                    <a button class="button is-link is-large is-fullwidth" routerLink="/admin/orders/">Orders administration</a>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="columns">
                <div class="column">
                    <a button class="button is-link is-large is-fullwidth" routerLink="/admin/items/">Item administration</a>
                </div>
                <div class="column">
                    <a button class="button is-link is-large is-fullwidth" routerLink="/admin/subcategory/">Subcategory administration</a>
                </div>
            </div>
        </div>


        <p class="pt-6"></p>
        <p class="pt-6"></p>
        <p class="pt-6"></p>
        <p class="pt-6"></p>
        <p class="pt-6"></p>
        <p class="pt-6"></p>
        <p class="pt-6"></p>

    </div>
</div>>