<div class="hero">

    <div class="hero-body">

        <div class="container">
            <div class="columns is-centered">
                    
                <div class="column is-half">
                    <figure class="image is-4by3">
                        <img src="../../assets/Pics/ItemPics/{{Item.ItemName}}.jpg">
                    </figure>
                </div>
                
                <div class="column is-half">
                    <p class="mt-6"></p>

                    <p class="title is-4"><b><u>{{Item.ItemName}}</u></b></p>
                    
                    <p class="mt-6"></p>
    
                    <p class="subtitle is-5"><b> Description : </b>{{Item.ItemDescription}}</p>
    
                    <p class="mt-6"></p>
    
                    <p class="mt-6"></p>
                    
                    <p class="subtitle is-5"><b> Discount : </b><br>{{Item.ItemDiscount}}</p>
    
                    <p class="mt-6"></p>
                    
                    <p class="subtitle is-5"><b> Price : </b>{{Item.ItemPrice}}</p>

                    <p class="mt-6"></p>
                    <p class="mt-6"></p>

                    
                    <p class="pt-6"></p>
                    <p class="pt-6"></p>
                    <button class="button is-link is-fullwidth is-rounded" (click)="addtoCart()">Add To Cart</button>

                </div>

            </div>
        </div>

    </div>

</div>