<nav class="navbar is-link" role="navigation" aria-label="main navigation">
    <div class="navbar-brand is-spaced">
        <a class="navbar-item is-hoverable" routerlink="/">Home</a>
        <a class="navbar-item is-hoverable" routerlink="/items">All Items - Lav til dropdown</a>
        <div class="navbar-item is-hoverable has-dropdown">
            
            <a class="navbar-link">
                Item Categories
            </a>

            <div class="navbar-dropdown">
                <a class="navbar-item is-hoverable">
                    test1
                </a>
                <a class="navbar-item is-hoverable">
                    test2
                </a>
                <a class="navbar-item is-hoverable">
                    test3
                </a>
                <a class="navbar-item is-hoverable">
                    test4
                </a>
            </div>

        </div>
        <a class="navbar-item is-hoverable" routerlink="/login">Login / Register</a>
        <a class="navbar-item is-hoverable" routerlink="/adminpanel">Admin</a>
    </div>

</nav>


