<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
    <div class="navbar-brand is-spaced">
        <figure class="image is-128x128 is-centered">
            <img src="https://bulma.io/images/placeholders/256x256.png">
          </figure>
        <a class="navbar-item is-hoverable" routerLink="/">Home</a>
        <a class="navbar-item is-hoverable" routerLink="/items">All Items - Lav til dropdown</a>
        <div class="navbar-item is-hoverable has-dropdown">
            
            <a class="navbar-link">
                Item Categories
            </a>

            <div class="navbar-dropdown">
                <a class="navbar-item is-hoverable">
                    test1
                </a>
                <a class="navbar-item is-hoverable">
                    test2
                </a>
                <a class="navbar-item is-hoverable">
                    test3
                </a>
                <a class="navbar-item is-hoverable">
                    test4
                </a>
            </div>

        </div>
        <a class="navbar-item is-hoverable" routerLink="/Authentication/Login">Login/Register</a>
        <a class="navbar-item is-hoverable" routerLink="/MySite">My Site</a>
        <a class="navbar-item is-hoverable" routerLink="/MyCart">My Cart</a>        
        <a class="navbar-item is-hoverable" routerLink="/Orders">Orders</a>
        <a class="navbar-item is-hoverable" routerLink="/Admin/AdminSite">Admin</a>
        
    </div>

</nav>


