<nav class="navbar is-primary" role="navigation" aria-label="main navigation">

  <div class="navbar-start">
    <a class="navbar-item is-hoverable is-size-4" routerLink="/">Home</a>
    <a class="navbar-item is-hoverable is-size-4" routerLink="/items">All Items</a>
  </div>

  <div class="navbar-center">
    <figure class="image is-256x256">
      <img src="../../../assets/Pics/WebsitePics/Friendly-Fire_ColoredBlack.png">
    </figure>
  </div>

  <div class="navbar-end">
    <a class="navbar-item is-hoverable is-size-4" routerLink="/authentication/login"
      *ngIf="currentUser == null">Login/Register</a>
    <a class="navbar-item is-hoverable is-size-4" (click)='LogOut()' *ngIf="currentUser != null">Logout</a>
    <a class="navbar-item is-hoverable is-size-4" routerLink="/mysite"
      *ngIf="currentUser != null && currentUser.Role =='Customer'">My Site</a>
    <a class="navbar-item is-hoverable is-size-4" routerLink="/mycart"
      *ngIf="currentUser != null && currentUser.Role =='Customer'">My Cart</a>
    <a class="navbar-item is-hoverable is-size-4" routerLink="/admin/adminsite"
      *ngIf="currentUser != null && currentUser.Role =='Admin' || currentUser != null && currentUser.Role =='SuperUser'">Admin</a>
  </div>

</nav>